ELEVENLABS_API_KEY=<ELEVENLABS_API_KEY> # api key from ElevenLabs
ELEVENLABS_VOICE_ID=<ELEVENLABS_VOICE_ID> # voice id from ElevenLabs
ELEVENLABS_MODEL_ID=<ELEVENLABS_MODEL_ID> # eleven_v3, eleven_v2, eleven_multilingual_v2, etc.
ELEVENLABS_OUTPUT_FORMAT=<ELEVENLABS_OUTPUT_FORMAT> # mp3_44100_128, mp3_24000_128, mp3_44100_128, etc.